/* Awards section */
.orange-cursive {
    font-family: 'Great Vibes', cursive;
    color: var(--orange-main-color);
    text-align: center;
}

.award-section {
    color: var(--text-color-main);
    font-family: 'Rubik', sans-serif;
    margin: 55px 30px;
}

.award-section > header {
    font-family: 'Prata', serif; 
    font-size: 34px;
    margin: 20px 0;
    text-align: center;
}

.award-section > p {
    font-size: 18px;
    line-height: 18px;
    margin: 20px 0;
    text-align: center;
}

.award-section-image {
    max-width: 100%;
    margin: 60px 0;
}

.award-section-name {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.award-section-paragraph {
    color: var(--text-color-paragraph);
    font-size: 16px;
    line-height: 30px;
}

.award-year {
    font-family: 'Prata', serif;
    font-size: 22px;
    padding: 55px 0;
}

@media (min-width: 760px) {
    .award-section-flex {
        max-width: 1000px;
        display: block;
        margin: auto;
    }

    .award-section-image {
      height: 95px;  
      margin: 0;
    }

    .award-section-name {
        min-width: 100px;
        flex-grow: 1.2;
    }

    .award-section-image,
    .award-section-name,
    .award-year,
    .award-section-paragraph {
        padding: 10px;
    }

    .award-section-paragraph {
        max-width: 545px;
    }

    .award-year {
        max-width: 160px;
    }

    .award-section-1956 {
        align-items: center;
        display: flex;
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    
    .award-section-1992 {
        align-items: center;
        display: flex;
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    .award-section-2016 {
        align-items: center;
        display: flex;
        grid-column: 1 / 5;
        grid-row: 3 / 4;
    }

    .award-section-2019 {
        align-items: center;
        display: flex;
        grid-column: 1 / 5;
        grid-row: 4 / 5;
    }
    
}
