* {
  margin: 0;
  padding: 0;
}
# best-deals {
  width: 100%;
  flex-wrap: wrap;
}

.orange-best {
  font-family: "Great Vibes", cursive;
  color: var(--orange-main-color);
  text-align: center;
}

.vines {
  color: var(--text-color-main);
  font-family: "Prata", serif;
  font-size: 34px;
  margin: 20px 0;
  text-align: center;
}
.shop {
  font-family: Rubik, sans-serif;
  font-size: inherit;
  color: var(--text-color-main);
  text-align: center;
  margin: 20px 0;
}
.grid-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  flex-wrap: wrap;
}
.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 20px;
}
.image {
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.size {
  margin: auto;
  padding: 30px;
}
.years {
  font-size: 100%;
  color: #c8693a !important;
}
.name {
  color: #fff;
  margin-top: 20px;
  font-size: 22px;
  line-height: 1.5;
  font-family: Prata, serif;
}
.color-text {
  color: rgb(137, 128, 130);
  font-family: Rubik, sans-serif;
}
.card {
  padding-right: 10%;
  margin: 1em;
}
.box-history {
  width: auto;
}
