
@media (min-width: 720px){
    .faq-conteiner {
        display: flex;
        }
}
    .faq__name {
        color: white;
        font-size: 40px;  
    }
    .conteiner {
        margin: 0 auto;
        padding: 4rem;
        width: 48rem;
        color: var(--text-color-paragraph);
        font-size: 16px;
    }
    
 /* accordion */
.accordion {
    background-color: #261e1c;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #261e1c;
}

.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 7px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #261e1c;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* accordion */

.orange-cursive-join {
    font-family: 'Great Vibes', cursive;
    color: var(--orange-main-color);
    text-align: left;
    font-size: 30px;
}


 /* grid */

#grid {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px;
}

#grid {
    display: grid;
    height: 300px;
}
  
 
#grid-join {
    display: grid;
    height: 300px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px;
}

.fast-services {
    padding-right: 10%;
    margin: 1em;
}
 
.services {
    color: white;
    font-size: 25px;
}

.section-paragraph {
    color: var(--text-color-paragraph);
    font-size: 16px;
    line-height: 30px;
}

.join-conteiner {
    margin: 40px 100px 30px 40px;
}

.join {
    font-size: 30px;
    color: white;
}

.join-paragraph {
    color: white;
    font-size: 20px;
}

.styled {
    border: 0;
    line-height: 3.5;
    padding: 0 150px;
    font-size: 1rem;
    text-align: center;
    color: var(--text-color-main);
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 700;
    border-radius: 2px;
    background-color: var(--orange-main-color);
}

.styled:hover {
    background-color: var(--button-hover-color);
}
 

input[type=text] {
    line-height: 1.5;
    padding: 0 250px;
    font-size: 1rem;
    font-weight: 700;
    padding: 15px;
    font-family: 'Rubik', sans-serif;
    background-color: #332928;
    opacity: 0.9;
}

.paragraph-end {
    color: white;
    font-size: 12px;
    text-align: center;
}
