.header {
  background-color: var(--background-color);
  background-image: url(/img/boutique-wines-image.jpg);
  background-size: cover;
  background-position: right;
  height: 800px ;

  }
  .header-nav-logo {
    font-family: 'Great Vibes';
    color: var(--text-color-main);
  }
  .header__nav-menu-item {
    color: var(--text-color-main);
    text-decoration: none;
}
.header__nav-menu-item:hover {
  color: var(--orange-main-color);
}
.main-page-text {
  display: flex;
}

.left-container {
  display: block;
}

.right-container {
  display: block;
  background-position: right;
}
    .main-page {
      display: flex;
      flex-direction: row;
      padding-top: 215.5px;
      padding-bottom: 300.5px;
    }
    .main-page-text {
      padding-left: 27px;
      padding-right: 0px;
      margin-top: 142px;
    }
    .buttons {
      padding-top: 40px;
    }
  .main-page-first-button {
    background-color: var(--orange-main-color);
    color: var(--text-color-main);
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 2px;
    margin-right: 13px;
    border-radius: 0px;
    border-color: var(--orange-main-color) ;
  }
  .main-page-second-button {
    background-color: transparent;
    color: var(--text-color-main);
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    font-weight: 700;
    border-radius: 2px;
    border-color: #ffffff;
    border-width:thick;
  }
  .main-page-second-button:hover {
    color:#ffffff
    
  }
  .main-text-icon {
    padding-left: 0px;
  }
  .boutique-wines-text {
    font-family: 'Prata', serif;
    color: var(--text-color-main);
    padding: 20px;
    font-size: 60px;
    font-weight: lighter;
    padding-left:0px;
  }
  .taste-our-text {
    color: var(--orange-main-color);
    font-family: 'Great Vibes';
    font-size: 14px;
  }
  .grown-with-love-text {
    font-family: 'Rubik', sans-serif;
    color: var(--text-color-main);
    padding-top: 20px;
    line-height: 30px;
    font-size: 18px;
  }
  @media (max-width: 740px) {
  .left-container {
    display: none;
  }
  }