.container {
  margin: 0 auto;
  padding: 0 50px;
}
.header_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  @media (max-width: 480px) {
    justify-content: flex-end;
  }
}
.header_logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
  color: #fff;
  @media (max-width: 480px) {
    display: none;
  }
}
.header_logo img {
  height: auto;
  width: 150px;
  display: block;
}
.header_burger {
  display: none;
}
.header_list {
  display: flex;
}
.header_list li {
  list-style: none;
  margin: 0 0 0 20px;
  font-family: "Rubik", sans-serif;
}
.header_link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}
.header_link:hover {
  color: var(--orange-main-color);
}

@media (max-width: 980px) {
  body.lock {
    overflow: hidden;
  }
  .header_body {
    height: 50px;
  }
  .header_logo {
    width: 172px;
    padding-left: 20px;
    padding-top: 30px;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 22px;
    height: 18px;
    position: relative;
    z-index: 3;
    margin-right: 22px;
    margin-top: 37px;
  }
  .header_burger span {
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger:after {
    bottom: 0;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_menu {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--background-color);
    padding: auto;
    transition: all 0.5s ease 0s;
  }
  .header_menu.active {
    top: 0;
  }
  .header_list {
    display: block;
    width: 150px;
    margin: 80px auto;
    font-size: 20px;
  }
}
.header_link {
  font-size: 18px;
  line-height: 30px;
}
.header_social_menu {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  padding: 60px 0 0 0;
  transition: all 0.3s ease 0s;
}
.header_social_list {
  display: block;
}
.header_social_list li {
  margin: 0 0 20px 0;
}
