.presentation-section {
  /*display: flex;
  flex-direction: column;
  padding: 70px 0px 90px;
  width: auto;*/

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.presentation-section .presentation-grid {
  flex-basis: 30%;
  min-width: 30%;
  padding: 0 15px;
}
@media (max-width: 994px) {
  .presentation-section .presentation-grid {
    flex-basis: 46%;
    min-width: 46%;
  }
}

@media (max-width: 760px) {

  .presentation-section .presentation-grid {
    flex-basis: 90%;
    min-width: 90%;
  }
}

.head-block-text {
  font-family: 'Prata', serif;
  color: var(--text-color-main);
  font-weight: normal;
  margin-bottom: 15px;
}

.presentation-block-paragraph {
  font-family: 'Rubik', sans-serif;
  color: var(--text-color-paragraph);
  margin-bottom: 29px;
  margin-top: 15px;
  line-height: 25px;
  padding-right: 13px;
}
.special-events-section {
  background-color: var(--background-color);
  color: var(--text-color-main);
  font-family: 'Rubik', sans-serif;
  background-image: url(../img/special-events-block-image.png);
  background-size: cover;
  display: block;
  height: 455px;
  /*margin-left: 25px;
  margin-right: 25px;*/
  margin-top: 45px;
  background-position: left 64% bottom 45%;
}

.organic-wines-section {
  background-color: var(--background-color);
  color: var(--text-color-main);
  font-family: 'Rubik', sans-serif;
  background-image: url(../img/organic-wines-block-image.png);
  background-size: cover;
  display: block;
  height: 455px;
  /*margin-left: 25px;
  margin-right: 25px;*/
  margin-top: 45px;
  background-position: left 64% bottom 45%;
}

.grape-varieties-section {
  background-color: var(--background-color);
  color: var(--text-color-main);
  font-family: 'Rubik', sans-serif;
  background-image: url(/img/grape-varieties-block-image.png);
  background-size: cover;
  display: block;
  height: 455px;
  /*margin-left: 25px;
  margin-right: 25px;*/
  margin-top: 45px;
}

.special-events-section > h2,
.special-events-section > p,
.special-events-section > a,
.organic-wines-section > h2,
.organic-wines-section > p,
.organic-wines-section > a,
.grape-varieties-section > h2,
.grape-varieties-section > p,
.grape-varieties-section > a {
  margin: 20px 0;
}

.presentation-link-style {
  color: var(--text-color-main);
  text-decoration: none;
  font-weight: bold;
}

.presentation-link-style:hover {
  text-decoration: underline;
}

.presentation-content-text {
  padding: 226px 1px 1px 30px;
}
