.red-wines-section {
    background-color: var(--background-color);
    color: var(--text-color-main);
    font-family: 'Rubik', sans-serif;
    background-image: url(../img/shop-red-wines.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 300px;
    padding: 40px;
    margin: 55px 30px;
}

.red-wines-section > h2,
.white-wines-section > h2 {
    font-family: 'Prata', serif;
}

.red-wines-section > h2,
.white-wines-section > h2,
.red-wines-section > p,
.white-wines-section > p,
.red-wines-section > a,
.white-wines-section > a {
    margin: 20px 0;
}

.white-wines-section {
    background-color: var(--background-color);
    color: var(--text-color-main);
    font-family: 'Rubik', sans-serif;
    background-image: url(../img/shop-white-wine.jpg);
    background-size: cover;
    background-position: 50% 50%;
    min-height: 300px;
    padding: 40px;
    margin: 55px 30px;
}

.orange-line-short {
    border: solid 1px var(--orange-main-color);
    width: 40px;
    margin: 10px 0;
    background-color: var(--orange-main-color);
}

@media (min-width: 760px) {
    .red-and-white {
        display: flex;
    }
}