.wine-card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    align-items: center;
    height: 500px;
    justify-content: space-around;
}

.wine-card img {
    height: 360px;
    width: 360px;
}

.wine-card p {
    line-height: 26px;
    font-family: Rubik, sans-serif;
    font-size: 18px;
    color: var(--text-color-main);
}

.price {
    font-weight: 700;
}